<html>
  <head>
    <title>Hacker News</title>
    <link rel="stylesheet" href="/public/css/style.css" />
  </head>
  <body>
    <ul class="news-view view">
       
      <!-- <% for (item in data) { %>

        <li class="item">
          <a href="<%= data[item].url %> "><%= data[item].title %></a>
        </li>
        <%  } %> -->
    </ul>
  </body>
</html>