body {
  background: #F5F5F5; }

.header {
  overflow: hidden;
  padding: 0.78125rem 1.171875rem;
  height: 8.203125rem;
  background: #878E91; }
  .header .top {
    box-sizing: border-box;
    width: 100%;
    height: 2.34375rem;
    text-align: center; }
    .header .top .top-button {
      border-radius: 0.9765625rem;
      border: 0px;
      height: 2.34375rem;
      width: 19.53125rem;
      margin-top: 0.1953125rem;
      margin-left: 0.78125rem;
      font-size: 1.015625rem;
      line-height: normal;
      /* for non-ie */ }
    .header .top .top-button::-webkit-input-placeholder {
      text-align: center; }
    .header .top .top-msg {
      position: relative;
      right: -1.171875rem; }
      .header .top .top-msg:after {
        content: '';
        display: block;
        position: absolute;
        width: 1.5625rem;
        height: 1.3671875rem;
        background-size: contain;
        top: 0.1953125rem;
        right: -1.953125rem;
        background-image: url(../image/favorites.png); }
  .header .header-con {
    margin-top: 1.171875rem; }
    .header .header-con > div:nth-child(1) {
      float: left;
      width: 20%; }
      .header .header-con > div:nth-child(1) .header-img {
        height: 4.6875rem;
        width: 4.6875rem; }
    .header .header-con > div:nth-child(2) {
      float: left;
      width: 80%;
      line-height: 1.5625rem; }
      .header .header-con > div:nth-child(2) > p:nth-child(1) {
        color: #ffffff;
        font-size: 1.328125rem; }
      .header .header-con > div:nth-child(2) > :nth-child(2) {
        color: #FFFEFE;
        font-size: 0.859375rem; }
      .header .header-con > div:nth-child(2) > :nth-child(3) {
        font-size: 0.9765625rem;
        color: #FF3B46; }
      .header .header-con > div:nth-child(2) .header-con-msg {
        position: relative;
        right: -11.328125rem; }
        .header .header-con > div:nth-child(2) .header-con-msg:after {
          content: '';
          display: block;
          position: absolute;
          width: 1.3671875rem;
          height: 1.3671875rem;
          background-size: contain;
          top: 0.1953125rem;
          right: -1.953125rem;
          background-image: url(../image/phone.png); }

.content .con-left {
  width: 25%;
  float: left; }
  .content .con-left .left-list {
    overflow-y: auto;
    height: 40.625rem;
    padding-left: 0.9765625rem; }
    .content .con-left .left-list .left-li {
      line-height: 5.859375rem;
      width: 6.25rem;
      color: #333333;
      font-size: 1.015625rem;
      text-overflow: -o-ellipsis-lastline;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; }
  .content .con-left .left-list::-webkit-scrollbar {
    display: none; }
.content .con-right {
  background: #ffffff;
  width: 75%;
  float: left; }
  .content .con-right .right-tit {
    font-size: 1.015625rem;
    line-height: 1.953125rem;
    letter-spacing: 0.1953125rem;
    padding-left: 0.5859375rem;
    background: #f5f5f5; }
  .content .con-right .right-list {
    overflow-y: auto;
    height: 39.0625rem; }
    .content .con-right .right-list .right-li {
      border-bottom: 0.0390625rem solid #f5f5f5;
      padding: 0.78125rem 1.171875rem 0.5859375rem 0.78125rem; }
      .content .con-right .right-list .right-li > div:nth-child(1) {
        float: left;
        width: 25%; }
        .content .con-right .right-list .right-li > div:nth-child(1) .right-li-img {
          height: 4.6875rem;
          width: 4.6875rem; }
      .content .con-right .right-list .right-li > div:nth-child(2) {
        width: 74%;
        float: left;
        font-size: 1.015625rem; }
        .content .con-right .right-list .right-li > div:nth-child(2) > p:nth-child(1) {
          height: 3.125rem;
          color: #333333;
          line-height: 1.5625rem;
          text-overflow: -o-ellipsis-lastline;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical; }
        .content .con-right .right-list .right-li > div:nth-child(2) > p:nth-child(2) {
          color: #FF3B46;
          line-height: 1.7578125rem;
          font-size: 1.09375rem; }
          .content .con-right .right-list .right-li > div:nth-child(2) > p:nth-child(2) > span:nth-child(1) {
            font-size: 0.9375rem; }
          .content .con-right .right-list .right-li > div:nth-child(2) > p:nth-child(2) .right-add-goods {
            position: relative;
            display: inline-block;
            float: right;
            top: 0rem;
            right: 1.7578125rem; }
            .content .con-right .right-list .right-li > div:nth-child(2) > p:nth-child(2) .right-add-goods:after {
              content: '';
              display: block;
              position: absolute;
              width: 1.875rem;
              height: 1.875rem;
              background-size: contain;
              background-image: url(../image/add-goods.png); }

.footer {
  position: fixed;
  z-index: 9999;
  background: #fff;
  bottom: 0;
  width: 100%; }
  .footer .foot-left {
    float: left;
    width: 70%;
    padding-top: 0.9765625rem; }
    .footer .foot-left img {
      margin-left: 1.171875rem;
      height: 1.875rem;
      width: 1.875rem;
      vertical-align: middle; }
    .footer .foot-left span {
      vertical-align: middle;
      font-size: 1.25rem;
      color: #FF3C46; }
  .footer .foot-right {
    background: -webkit-linear-gradient(left, #FF957E, #FF3C46, #FF3C46, #FF3C46);
    background: -o-linear-gradient(left, #FF957E, #FF3C46, #FF3C46, #FF3C46);
    background: -moz-linear-gradient(left, #FF957E, #FF3C46, #FF3C46, #FF3C46);
    background: -ms-linear-gradient(left, #FF957E, #FF3C46, #FF3C46, #FF3C46);
    color: #fff;
    float: left;
    width: 30%;
    height: 3.90625rem;
    text-align: center;
    line-height: 3.90625rem;
    font-size: 1.328125rem;
    letter-spacing: 0.1953125rem; }

/*# sourceMappingURL=style.css.map */
